@model Churrasco.Domain.Models.ProductModel

@{
    ViewData["Title"] = "Product Edit";
    Layout = "_LayoutNew";
}

<div class="row">
    
    <div class="col-md-12">
 
        <div class="card card-primary">
            <div class="card-header card-form">
                <h3 class="card-title">Product Form<small></small></h3>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-action="Edit" asp-id="quickForm" id="quickForm" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Sku" class="control-label"></label>
                        <input asp-for="Sku" class="form-control" />
                        <span asp-validation-for="Sku" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">                        
                        <label asp-for="Picture" class="control-label"></label>
                        <input type="file" name="SingleFile" class="form-control" />                        
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>                    
                    <div class="form-group">
                        <label asp-for="Currency" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Currency, new SelectList(new string[] { "USD", "EUR" }), htmlAttributes: new { @class = "form-control" })
                        <span asp-validation-for="Currency" class="text-danger"></span>
                    </div>
                    
                </div>
                
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary command-button">Submit</button>
                </div>
            </form>
        </div>        
    </div>
    
    <div class="col-md-6">
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>    
</div>

<script src="~/WebCore/plugins/jquery/jquery.min.js"></script>
<script src="~/WebCore/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/WebCore/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="~/WebCore/plugins/jquery-validation/additional-methods.min.js"></script>
<script src="~/WebCore/dist/js/adminlte.min.js"></script>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

